.hamburger {
  padding: 50px;
  font-size: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
}
.hamburger-box {
  /* width: 30px; */
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  transition: 0.3s;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::after,
.hamburger .hamburger-inner::before {
  background: #003f75;
}

.hamburger-inner {
  top: 50%;
  width: 40px; height: 4px;
  transform: translateY none;
}

.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  width: 40px; height: 4px;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
  top: 10px;
}

.hamburger.is-active .hamburger-inner {
  transform: rotate(45deg) translateY(0);
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
}

.hamburger.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
}

@media (max-width: 1034px) {
  .hamburger {
    display: block;
    position: relative;
    z-index: 100;
  }

  header .navigation {
    display: none;
  }

  header.active .navigation {
    display: block;
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }

  header .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  header .navigation ul li {
    margin-bottom: 10px;
  }

  header .navigation ul li a {
    padding: 15px 20px;
    width: 100%;
    border-bottom: 0 solid #eee;
  }
}

@media (min-width: 1035px) {
  .hamburger {
    display: none;
  }

  header .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 768px) {
  header .navigation ul li {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .logo img {
    padding-left: 1em !important;
    width: 10em !important;
  }
}

@media (min-width: 769px) and (max-width: 1034px) {
  .logo img {
    width: 200px;
    margin-top: 20px;
  }
}