* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Reddit Sans Condensed, sans-serif;
  box-sizing: border-box;
  color: #282f54;
}


main {
  margin-bottom: 4em;
  margin-right: auto;
  margin-left: auto;
  max-width: 81em;
}


html,
body {
  overflow-x: hidden;
  /* Förhindrar horisontellt scrollande */
}

.wrapper {
  max-width: 1350px;
  /* Max bredd för innehållet */
  margin: 0 auto;
  /* Centrera wrappern */
  padding: 20px;
  /* Valfri padding */
}


/* Header Styles */
header {
  background: #fff;
  position: relative;
  z-index: 100;
  width: 100%;
  margin-bottom: -30px;
}

/* Container */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Placerar den högst upp */
  width: 100%;
  /* Gör den full bredd */
  background: #fff;
  /* Se till att bakgrunden är vit så att texten är läsbar */
  z-index: 100;
  /* Ser till att den ligger ovanpå annat innehåll */
  padding: 0;
  max-width: 1350px;

}

.scrolled header .navigation ul {
  margin: 0;
  margin-top: 1.3em;
  margin-bottom: .6em;
}

/* Ramlösa logotype */
/* Standardstorlek för desktop */
header .logo img {
  width: 240px;
  padding-left: 5em;
  width: 17em;
  /* Justera storleken för desktop här */
  transition: width 0.3s ease;
  /* Smidig övergång när storleken ändras */
}


/* Meny */
header .menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 1em;
}

header .menu ul li {
  vertical-align: middle;
  display: inline-block;
}

/* Navigation */
header .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  /* Hindrar texten från att brytas på flera rader */
  padding-right: 2em;

}

header .navigation ul {
  display: flex;
  vertical-align: middle;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  margin-left: 2%;
}

header .navigation ul li a {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.25em;
  color: #95c7ed;
  white-space: nowrap;
  /* Håller ihop texten för att undvika radbrytningar */
}

header .navigation ul li:last-child {
  margin-right: 0;
}

/* Facebook Ikon */
header .navigation ul li a#facebook-link {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  vertical-align: middle;
}

/* Media Query för Responsivitet */
@media (max-width: 768px) {
  header .menu {
    display: block;
  }

  header .navigation {
    display: none;
  }

  .container {
    padding: 0 5%;
    /* Mer padding för mindre skärmar */
  }

  /* När hamburgermenyn är aktiv */
  header.active .navigation {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
  }

  header .navigation ul {
    flex-direction: column;
  }

  header .navigation ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* The video at the top */
.main-1 {
  max-width: 100%;
  margin: 0 auto;
}

/* Standard layout för sektionen */
.main-1 {
  transition: margin-top 0.3s ease;
  max-width: 100%;
  margin: 0 auto;
}

/* När menyn är aktiv, skjuts innehållet ner */
.menu-active .main-1 {
  margin-top: 500px;
  /* Justera beroende på menyns höjd */
}

.embed-1-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 5em;
  padding-bottom: 56.25%;
}

#video-1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Article and the redcross section */
.redcross {

  padding: 64px 58px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Flexibel layout för olika skärmstorlekar */
}

.redcross h1 {
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: .03em;
  padding-bottom: 0.5em;
}

.redcross p {
  margin-top: 20px;
  font-weight: 600;
}

.redcross-text {
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: left;
}

.redcross-text a {
  padding-top: 1em;
}

@media screen and (min-width: 1035px) {
  .redcross .redcross-text {
    float: left;
    margin-right: 2%;
    width: 57.5%;

  }
}

@media screen and (max-width: 1035) {
  .redcross {
      padding: 16px 32px;
  }
}

.redcross .redcross-text a {
  display: inline-block;
  color: #95c7ed;
}

dd,
dt,
li:not(.navigation-item),
p {
  margin-bottom: 0;
  line-height: 1.4em;
  font-size: 1.07em;
  text-rendering: geometricPrecision;
}

#redcross-image {
  width: 100%;
  max-width: 458px;
  padding-top: 2em;
  padding-bottom: 3em;
}

/* Product Slider section */
#product-slider {
  display: flex;
  justify-content: flex-start;
  /* Ändra till flex-start för att justera bilderna */
  align-items: center;
  transition: transform 0.3s ease-in-out;
  flex-wrap: nowrap;
  overflow: hidden;
  /* Ändra till hidden för att dölja överflödig innehåll */
  margin: 2em 0;
}

.slider-container {
  padding-right: 2em;
  padding-left: 2em;
}

#product-slider-wrapper {
  margin: 2em 0;
  text-align: center;
  position: relative;
}

#product-slider-wrapper .slider-controls {
  transition: all .25s ease-in-out;
  width: 5.5%;
  position: absolute; /* Absolut positionering i förhållande till föräldern */
  top: 500%; /* Centrera vertikalt */
  transform: translateY(-50%); /* Flytta pilarna upp med 50% av sin höjd för att få exakt centrering */
  z-index: 2; /* Sätt z-index så att de visas över bilderna */
}

#product-slider-wrapper #product-slider {
  text-align: center;
  float: left;
  width: 100%;
}

#product-slider-wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}

/* Outer-container */
.product-row .outer-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Inner-container */
.product-row .inner-container {
  width: 4082px; /* Behåll samma bredd */
  left: 0; /* Om nödvändigt, kan du behöva justera */
  display: flex; /* Flexbox aktivt */
  transition: all 0.3s ease-in-out; /*För övergångar */
  transform: translate3d(60px, 0px, 0px); /* Om det behövs */
  width: calc(157px * 7 + 3em * 6); /* 7 bilder + marginaler */
}



/* Justera varje item */
.each-item {
  width: 157px;
  margin: 0 3px; /* Justera marginaler för att skapa avstånd */
  /* Avstånd mellan bilderna */
}

#product-slider .product {
  flex: 0 0 auto;
  position: relative;
  text-align: center;
  background-color: transparent;
  overflow: visible;
  display: flex;
  flex-direction: column; /* Lägg till detta för att placera skuggan under bilden */
  justify-content: flex-end; /* Justera så att bilden ligger längst ner */
  height: 400px; /* Öka höjden för att ge mer utrymme */
}

#product-slider-wrapper #product-slider .product-image {
  max-width: 63%;
}

#product-slider .each-item a .product-image {
  transform: translateY(12px);
}

#product-slider-wrapper #product-slider .shadow {
  position: relative;
  bottom: 0;
  opacity: 0.35;
}

#product-slider-wrapper #product-slider .shadow img {
  width: 100%;
}

/* Animation för hover */
#product-slider .product:hover img {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(-10px);
  }
}

.prev {
  left: 1em;
}

/* Media queries for slider controls (arrows) to be responsive at different screen sizes */
@media screen and (max-width: 450px) {
  #product-slider-wrapper .slider-controls {
      top: 500%; /* Centrera vertikalt även för små skärmar */
      transform: translateY(-50%);
  }
}

/* Justera positionen för skärmar mellan 450px och 1200px */
@media screen and (max-width: 1200px) {
  #product-slider-wrapper .slider-controls {
      top: 500%; /* Fortsätt centrera vertikalt */
      transform: translateY(-50%);
  }
}

/* För mindre skärmar, 502px och nedåt */
@media screen and (max-width: 502px) {
  #product-slider-wrapper .slider-controls {
    top: 350%; /* Justera top-värdet för att hålla pilarna vid bilderna */
    transform: translateY(-50%); /* Centrera dem vertikalt */
  }
}

/* För ännu mindre skärmar, 276px och nedåt */
@media screen and (max-width: 276px) {
  #product-slider-wrapper .slider-controls {
    top: 250%; /* Justera top-värdet för att hålla pilarna vid bilderna */
    transform: translateY(-50%); /* Centrera dem vertikalt */
  }
}

/* Video section */
.videos {
  width: 100%;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 20px auto;
  background-color: #d0dae6;
  display: flex;
  flex-direction: column;
}

.videos h2 {
  padding-bottom: 5%;
  color: #fff;
  padding-top: 5%;
}

iframe {
  margin: 20px;
}

.videos-row {
  display: flex;
  justify-content: center;
  /* Centrera videorna */
  flex-wrap: wrap;
  /* Tillåt wrap */
  margin-bottom: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  flex-wrap: wrap;
  /* Flexibel för små skärmar */
}



@media screen and (max-width: 1034) {
  .videos h2 {
    font-size: 2em;
  }
}


/* Footer section */
footer {
  background-color: #d0dae6;
  width: 100%;
  padding: 64px 0;
  display: flex;
  justify-content: center;
}


.footer-logo {
  width: 100%;
  max-width: 190px;
  margin-bottom: 1em;
  display: block;
}


.footer-text {
  /* Maximal bredd för texten */
  color: #282f54;
  max-width: 1180px;
  width: 100%;
}

.footer-text p {
  margin: 0;
  /* Ta bort standardmarginal */
  margin-bottom: 17.12px;
  /* Avstånd mellan paragrafer */
  font-weight: 500;
}

.footer-text p:last-child {
  margin-bottom: 0;
  /* Ingen extra marginal på sista paragrafen */
}

.footer-text a {
  color: #003f75;
}

/* Media queries */

/* För mobila enheter */
@media screen and (max-width: 768px) {
  header ul {
    margin: 0;
    margin-top: .6em;
    margin-bottom: .2em;
  }

  header .navigation ul li {
    text-align: center;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    /* Centrera innehållet */
    padding: 0 20px;
    /* Padding för små skärmar */
  }

  #footer-logo {
    margin-bottom: 20px;
  }

  .footer-text {
    text-align: center;
    /* Centrera texten */
    max-width: none;
    /* Ta bort maxbredd */
  }
}

.footer-text {
  text-align: left;
  /* Vänsterjustera texten på desktop */
}

/* För surfplattor */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header .navigation ul {
    padding: 0;
    margin: 0;
    float: auto;
    width: 100%;
  }

  header .navigation ul li:nth-child(odd) {
    background: #f4f8fa;
  }
}

@media screen and (max-width: 1034px) {
  header .navigation ul li a {
    text-align: center;
    padding: 1em;
  }

  header .navigation ul li:nth-child(odd) {
    background: #f4f8fa;
  }
}

/* För större skärmar */
@media screen and (min-width: 1025px) {
  header .navigation {
    display: block;
  }
}

@media screen and (max-width: 1034px) {
  .container {
    padding: 0 1em;
  }
}