/* Grundläggande styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    margin-bottom: 4em;
    margin-right: auto;
    margin-left: auto;
    max-width: 81em;
}

header {
    background: #fff;
    position: relative;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
}

header .container {
    padding-top: 1em;
}

header .menu {
    display: none;
    float: right;
}

header .menu ul {
    padding: 0;
}

header .menu ul li {
    vertical-align: middle;
    display: inline-block;
}

.hamburger {
    padding-right: 0;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
}

.hamburger:hover {
    opacity: .7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}





header .logo {
    padding-left: 1.5em;
    float: left;
}

header .logo ul {
    padding: 0;
}

header .logo img {
    width: 240px;
}

header .navigation ul {
    margin: 0;
    margin-top: 1.6em;
    margin-bottom: .6em;
    float: right;
    transition: all .2s ease-in-out;
}

header .navigation ul li {
    vertical-align: middle;
    display: inline-block;
}

header .navigation ul li a {
    padding-left: 1em;
    font-size: 1.25em;
    display: block;
    color: #95c7ed;
    text-decoration: none;
}




.container {
    padding-right: 2em;
    padding-left: 2em;
    max-width: 81em;
    margin-left: auto;
    margin-right: auto;
}

.youtube-embed {
    max-width: 100%;
}

.youtube-embed iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.redcross {
    padding: 4em 3.6em 0;
}

.redcross .redcross-text a {
    display: inline-block;
    padding: 1em 0;
    color: #95c7ed;
}

#product-slider-wrapper {
    margin: 2em 0;
}

#image-slider-wrapper h1, #product-slider-wrapper h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
}

#product-slider-wrapper .slider-controls {
    transition: all .25s ease-in-out;
    padding-top: 13%;
    position: relative;
    float: left;
    width: 5.5%;
    left: 0;
}

#product-slider-wrapper #product-slider {
    text-align: center;
    float: left;
    width: 89%;
}

#product-slider-wrapper .slider-controls[href='#next'] {
    text-align: right;
}

.clear {
    line-height: 0;
    font-size: 1px;
    height: 0;
    margin: 0;
    clear: both;
}

h1, h2 {
    font-family: "Ramlosa Display", sans-serif;
    text-transform: uppercase;
    letter-spacing: .03em;
}

h2 {
    text-transform: uppercase;
    font-size: 2.4em;
}


.videos {
    background: #d0dae6;
    padding: 4em 2.8em 3.5em;
}

.videos h2 {
    padding-bottom: .8em;
    text-align: center;
    font-size: 3em;
    display: block;
    margin: 0;
    color: #fff;
}

.videos .videos-item {
    text-align: center;
    position: relative;
    padding: 1em;
    flex: 0 1 100%;
}


.videos .item-play {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 33%;
}

footer {
    background: #d0dae6;
    padding: 4em 0;
    color: #282f54;
}

footer>.container {
    padding: 0 3.6em;
}

footer a {
    text-decoration: none;
    color: #384277;
}

footer img {
    width: 11.875em;
}

footer p {
    font-size: 1.07em;
}

#popup {
    background: rgba(0, 0, 0, .79);
    position: fixed;
    z-index: -1000;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#popup .container {
    position: relative;
}


.sm-11 {
    margin-right: 2%;
    width: 91.5%;
}

.column {
    float: left;
    width: 100%;
}

#popup .close {
    text-align: right;
    padding: 2.5% 0 1%;
    display: block;
}

#popup #embedholder {
    padding-bottom: 56.25%;
    position: relative;
}

#popup #embedholder #embed {
    position: absolute;
    height: 100%;
    width: 100%;
}






@media screen and (max-width: 64.625em) {
    header .menu {
        display: block;
    }
}

@media screen and (max-width: 64.625em) {
    header ul {
        margin: 0;
        margin-top: .6em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 64.625em) {
    header .navigation ul li {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 64.625em) {
    header .navigation ul li a {
        text-align: center;
        padding: 1em;
    }
}

@media screen and (max-width: 64.625em) {
    header .navigation ul li:nth-child(odd) {
        background: #f4f8fa;
    }
}

@media screen and (max-width: 64.625em) {
    .container {
        padding: 0 1em;
    }
}


@media screen and (min-width: 64.6875em) {
    .redcross .redcross-text {
        float: left;
        margin-right: 2%;
        width: 57.5%;
    }
}

@media screen and (min-width: 64.6875em) {
    .redcross .redcross-image:last-of-type {
        margin-right: 0;
    }
}



@media screen and (max-width: 64.625em) {
    footer {
        padding: 3em 0;
    }
}

@media screen and (max-width: 64.625em) {
    footer>.container {
        padding: 0 1em;
    }
}